$fa-font-path: '~font-awesome/fonts'
/* @import '~font-awesome/scss/font-awesome' */
@import '@fortawesome/fontawesome-free/scss/fontawesome.scss'

@import 'variables'
@import 'global'

@import 'components/area-picker'
@import 'components/weekday-selector'
@import 'components/workshop-survey'

.workshop-survey
  .vdatetime-calendar
    &__current--month, &__month__weekday
      text-transform: lowercase
  .vdatetime-time-picker__item
    &, &:hover
      font-size: 20px
  .vdatetime-year-picker__item
    &, &:hover
      font-size: 20px
